<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div><h3>Отправить сообщение</h3></div>
                <div class="form-group">
                       Имя: <input type="text" class="form-control" name="name"  required  >
                    </div>
                    <div class="form-group">
                        Номер телефона:<input type="text" class="form-control" name="phone" value="7" required >
                    </div>
                    <div class="form-group">
                       Сообщение: <textarea name="descr" rows ="10" class="form-control" required></textarea>
                    </div>
                        <input type="submit" value="Отправить" class="btn btn-primary">
                    </div>
                </div>

        </div>


</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
